<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout_main.html}">
<body>
<div id="main-wrapper" data-layout="vertical" data-navbarbg="skin5" data-sidebartype="full"
     data-sidebar-position="absolute" data-header-position="absolute" data-boxed-layout="full" layout:fragment="content" >
    <div class="page-wrapper">
        <div class="page-breadcrumb align-items-center pb-4">
            <div class="row">
                <div class="col-12 d-flex no-block align-items-center">
                    <h4 class="page-title pb-4">Change Password</h4>
                </div>
            </div>

            <form th:action="@{/change_password}" method="post" th:object="${userChangePasswordDto}">
                <label for="inputPassword5" class="form-label">Old Password</label>
                <input type="password" id="inputPassword5" class="form-control w-25" aria-describedby="passwordHelpBlock" th:field="*{oldPassword}">
                <p th:if="${#fields.hasErrors('oldPassword')}" th:errors="*{oldPassword}" class="form-message text-danger"></p>
                <p th:text="${message1}" class="form-message text-danger"></p>
    <!--            <div id="passwordHelpBlock" class="form-text">-->
    <!--                Your password must be 8-20 characters long, contain letters and numbers, and must not contain spaces, special characters, or emoji.-->
    <!--            </div>-->

                <label for="new-password" class="form-label pt-2">New Password</label>
                <input type="password" id="new-password" class="form-control w-25" th:field="*{newPassword}">
                <p th:if="${#fields.hasErrors('newPassword')}" th:errors="*{newPassword}" class="form-message text-danger"></p>
                <p th:text="${message2}" class="form-message text-danger"></p>

                <label for="confirm-password" class="form-label pt-2">Confirm New Password</label>
                <input type="password" id="confirm-password" class="form-control w-25" th:field="*{confirmNewPassword}">
                <p th:if="${#fields.hasErrors('confirmNewPassword')}" th:errors="*{confirmNewPassword}" class="form-message text-danger"></p>
                <p th:text="${message3}" class="form-message text-danger"></p>

                <button type="submit" class="btn btn-primary mt-3">Submit</button>
            </form>
        </div>
    </div>

</div>
</body>
</html>