<!DOCTYPE html>
<html lang="en">
<head>
    <title>Forgot Password</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--===============================================================================================-->
    <link rel="icon" type="image/png" href="images/icons/favicon.ico"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/fonts/font-awesome-4.7.0/css/font-awesome.min.css}">
    <link rel="stylesheet" th:href="@{/css/css/main.css}">
    <!--===============================================================================================-->
</head>
<body>

<div class="limiter">
    <div class="container-login100">
        <div class="wrap-login100">
            <div class="login100-pic js-tilt" data-tilt>
                <img th:src="@{img/images/login/img-01.png}" alt="IMG">
            </div>

            <form th:action="@{/forgot_password}" method="POST"
                  th:object="${userForgotPasswordDto}" class="login100-form validate-form">
                <span class="login100-form-title">
                    Forgot Password
                </span>
                <p>We will be sending a reset password link to your email</p>
                <div class="wrap-input100 validate-input" data-validate = "Valid email is required: ex@abc.xyz">
                    <input class="input100" type="text" th:field="*{email}" placeholder="Email">
                    <span class="focus-input100"></span>
                    <span class="symbol-input100">
                        <i class="fa fa-envelope" aria-hidden="true"></i>
                    </span>
                </div>

                <p th:if="${#fields.hasErrors('email')}" th:errors="*{email}" class="form-message text-danger">
                    <i class="fa-regular fa-circle-info"></i>
                </p>

                <p th:text="${message}" class="form-message text-danger"></p>

                <div class="container-login100-form-btn">
                    <button type="submit" class="login100-form-btn">
                        Send
                    </button>
                </div>

                <div class="text-center p-t-12" style="padding-top: 12px; text-align: center;">
                    <a class="txt2" href="#" th:href="@{/login}">
                        Back to login
                    </a>
                </div>

                <div class="text-center p-t-136" style="padding-top: 136px; text-align: center;">
                    <a class="txt2" href="#">

                    </a>
                </div>
            </form>
        </div>
    </div>
</div>

<script th:src="@{/js/login/jquery/jquery-3.2.1.min.js}"></script>
<script th:src="@{/js/login/tilt/tilt.jquery.min.js}"></script>
<script >
    $('.js-tilt').tilt({
        scale: 1.1
    })
</script>

</body>
</html>