<!DOCTYPE html>
<html lang="en">
<head>
    <title>Forgot Password</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--===============================================================================================-->
    <link rel="icon" type="image/png" href="images/icons/favicon.ico"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/fonts/font-awesome-4.7.0/css/font-awesome.min.css}">
    <link rel="stylesheet" th:href="@{/css/css/main.css}">
    <!--===============================================================================================-->
</head>
<body>

<div class="limiter">
    <div class="container-login100">
        <div class="wrap-login100">
            <div class="login100-pic js-tilt" data-tilt>
                <img th:src="@{img/images/login/img-01.png}" alt="IMG">
            </div>

            <form th:action="@{/reset_password}" method="POST" class="login100-form validate-form" th:object="${userResetPasswordDto}">
                <span class="login100-form-title">
                    Reset Your Password
                </span>

                <span th:if="${#fields.hasErrors('password')}" th:errors="*{password}" class="form-message text-danger"> </span>
                <div class="wrap-input100 validate-input">
                    <input type="hidden" name="token" th:value="${token}" />
                    <input class="input100" type="password" name="password" id="password" placeholder="Password" th:field="*{password}">
                    <span class="focus-input100"></span>
                    <span class="symbol-input100">
                        <i class="fa fa-lock" aria-hidden="true"></i>
                    </span>
                </div>

                <span th:if="${#fields.hasErrors('rePassword')}" th:errors="*{rePassword}" class="form-message text-danger"> </span>
                <div class="wrap-input100 validate-input">
                    <input class="input100" type="password" placeholder="Re-Password" th:field="*{rePassword}">
                    <span class="focus-input100"></span>
                    <span class="symbol-input100">
                        <i class="fa fa-lock" aria-hidden="true"></i>
                    </span>
                </div>

                <p th:text="${message}" class="form-message text-danger"></p>

                <div class="container-login100-form-btn">
                    <button type="submit" class="login100-form-btn">
                        Send
                    </button>
                </div>

                <div class="text-center p-t-12" style="padding-top: 12px; text-align: center;">
                    <a class="txt2" href="#" th:href="@{/login}">
                        Back to login
                    </a>
                </div>

                <div class="text-center p-t-136" style="padding-top: 136px; text-align: center;">
                    <a class="txt2" href="#">

                    </a>
                </div>
            </form>
        </div>
    </div>
</div>

<script th:src="@{/js/login/jquery/jquery-3.2.1.min.js}"></script>
<script th:src="@{/js/login/tilt/tilt.jquery.min.js}"></script>
<script >
    $('.js-tilt').tilt({
        scale: 1.1
    })
</script>

</body>
</html>