<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Reminder Offer</title>
</head>
<body>

<p>This email is from IMS system </p>

    <p> “This email is from IMS system,</p>
<p>You have an offer to take action For Candidate <candidate name> </candidate> </p>

     <p>   position <candidate position> before <candidate due date>, the contract is
         attached with this no-reply-email </candidate>
        Please refer this link to take action <offer detail URL>
            If anything wrong, please reach-out recruiter <offer recruiter owner
            account>. We are so sorry for this inconvenience.
            Thanks & Regards!
            IMS Team.
</body>
</html>